.logo-img{
    width: 140px;
    margin-right: 20px;
    margin-left: 35px;
}
.main-header{
    background-color: white;
    margin-bottom: 80px;
    position: relative;
}
.container{
    margin-top: 35px;
   align-items: center;
   max-width: 1200px;
  display: grid;
  grid-gap: 1rem;

}
.btn{
    font-size: smaller;
    text-align: center;
    margin-top: 3.1px;
}
.button{
  width: 150px;
  height: 50px;
  border:2px solid #000f32;
  border-radius: 5px;
  text-align: center;
  color: black;
  margin-left: 70px;
}
.button:hover{
  background-color: #000f32;
  color: white;
}
.mail-icon{
    width: 35px;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
}
.mail-col{
    
    border-left: 1.5px solid rgb(223, 223, 223);
    margin-left: 45px;
}
.mail-place{
    position: absolute;
    margin-left: 20px;
}
.address-icon{
    width: 35px;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
}
.address-place{
    position: absolute;
    margin-left: 20px;
}
.text-color{
   color: rgb(129, 129, 129);
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #000f32;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
}
  .flex-container > div {
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .box{
    position:absolute ;
     z-index:1;
     max-width: 1250px;
     height: 80px;
     margin-top: -40px;
     margin-left: auto;
     margin-right: auto;
     left: 0;
     right: 0;
     justify-content: space-between;

    }

    @media screen and (max-width: 77em) {
   .display1{
       display: none;
       
   }
   .container{
       justify-content: center;
   }
   }
   @media screen and (max-width: 77em) {
    .display{
        display: none;
    }
    }

  .btn2{
      margin-bottom: 26px;
  }
 
  .home{
      margin-left: 25px;
  }
 .border-{
     border-left: 1px solid rgba(63, 77, 155, 0.76) ;
 }
#slash::after{
    content: "/";
}


.togglex {
 
  }

  .bars {
    background: rgb(255, 255, 255);
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
    margin-bottom: 17px;
  }
  .bars::before,
  .bars::after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .bars::before {
    top: 5px;
  }
  .bars::after {
    top: -5px;
  }
  @media screen and (min-width: 77em) {
  .togglex{
      display: none;
  }
    }
    